@import "tailwindcss";
@import "tw-animate-css";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  /* Base colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Neutral */
  --color-neutral-1: #f9f9fa;
  --color-neutral-3: #f1f2f3;
  --color-neutral-5: #eaebec;
  --color-neutral-10: #dbdcdf;
  --color-neutral-20: #cccdd1;
  --color-neutral-30: #aeb0b6;
  --color-neutral-35: #989ba2;
  --color-neutral-40: #878a93;
  --color-neutral-50: #70737c;
  --color-neutral-60: #5a5c63;
  --color-neutral-70: #46474c;
  --color-neutral-75: #37383c;
  --color-neutral-80: #27282c;
  --color-neutral-90: #212225;
  --color-neutral-95: #1b1c1e;

  /* Red */
  --color-red-1: #fffaf7;
  --color-red-5: #ffebe0;
  --color-red-10: #fcaea9;
  --color-red-20: #ff8f87;
  --color-red-30: #fe7a70;
  --color-red-40: #ff6c62;
  --color-red-50: #f1564b;

  /* Mint */
  --color-mint-1: #c6fae6;
  --color-mint-10: #98f9d5;
  --color-mint-20: #29ffb0;
  --color-mint-30: #08f29b;
  --color-mint-40: #0dd78c;
  --color-mint-50: #1ba673;

  /* Blue */
  --color-blue-1: #418cc3;
  --color-blue-bg-1: #e8f1ff;

  /* Purple */
  --color-purple-1: #9c6bb3;
  --color-purple-bg-1: #f1e8ff;

  /* Yellow */
  --color-yellow-1: #d77b0f;
  --color-yellow-bg-1: #fff3c2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #212225;
  --card: #ffffff;
  --card-foreground: #212225;
  --popover: #ffffff;
  --popover-foreground: #212225;
  --primary: #9c6bb3;
  --primary-foreground: #ffffff;
  --secondary: #eaebec;
  --secondary-foreground: #212225;
  --muted: #f1f2f3;
  --muted-foreground: #70737c;
  --accent: #08f29b;
  --accent-foreground: #212225;
  --destructive: #ff6c62;
  --border: #dbdcdf;
  --input: #dbdcdf;
  --ring: #9c6bb3;
  --chart-1: #9c6bb3;
  --chart-2: #418cc3;
  --chart-3: #08f29b;
  --chart-4: #d77b0f;
  --chart-5: #ff6c62;
  --sidebar: #f9f9fa;
  --sidebar-foreground: #212225;
  --sidebar-primary: #9c6bb3;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f1f2f3;
  --sidebar-accent-foreground: #212225;
  --sidebar-border: #dbdcdf;
  --sidebar-ring: #9c6bb3;
}

.dark {
  --background: #1b1c1e;
  --foreground: #f9f9fa;
  --card: #27282c;
  --card-foreground: #f9f9fa;
  --popover: #27282c;
  --popover-foreground: #f9f9fa;
  --primary: #9c6bb3;
  --primary-foreground: #ffffff;
  --secondary: #37383c;
  --secondary-foreground: #f9f9fa;
  --muted: #37383c;
  --muted-foreground: #aeb0b6;
  --accent: #0dd78c;
  --accent-foreground: #1b1c1e;
  --destructive: #ff6c62;
  --border: #46474c;
  --input: #46474c;
  --ring: #9c6bb3;
  --chart-1: #9c6bb3;
  --chart-2: #418cc3;
  --chart-3: #0dd78c;
  --chart-4: #d77b0f;
  --chart-5: #ff6c62;
  --sidebar: #27282c;
  --sidebar-foreground: #f9f9fa;
  --sidebar-primary: #9c6bb3;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #37383c;
  --sidebar-accent-foreground: #f9f9fa;
  --sidebar-border: #46474c;
  --sidebar-ring: #9c6bb3;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
